In [6]:
# Import Dependencies

import pandas as pd

In [7]:
# read the first file created into a dataframe

### The file is the Baseball Yearbooks grid that runs from 1950 to 1979. I manually entered the data 7/12/22
bb_df = pd.read_csv('data/BB-YB-01_manual.csv')
bb_df.head()

,Unnamed: 0,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979
0,Boston Braves,x,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Boston Red Sox,NaN,x,x,NaN,NaN,x,x,x,NaN,...,x,x,x,x,x,x,x,x,x,x
2,Milwaukee Braves,NaN,NaN,NaN,x,x,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NY Yankees,NaN,NaN,NaN,x,x,NaN,x,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,x,x
4,NY Giants,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Create a list from 1950 to 1979 to hand as column names

def createList(n):
    column_list = []
    for i in range(n+1):
        column_list.append(1950+i)
    return(column_list)

# print(createList(29))

column_names = str(createList(29))
column_names

'[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979]'

In [20]:
# Tranform string column


def change_string(member):
    if member == 'x':
        return 1
    else:
        return 0
    
 
    
bb_df[column_names] = bb_df[column_names].apply(change_string)
bb_df.head()

KeyError: '[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979]'